@use "global" as *;

.c-btn {
  display: inline-block;
  color: $white;
  font-size: rem(16);
  font-family: $font-bold;
  text-align: center;
  padding: rem(15) rem(34);
  min-width: rem(300);
  background: #ED6417;
  border-radius: rem(50);
  border: 2px solid #ED6417;
}

.c-btn:hover {
  background: $white;
  color: #ED6417;
  opacity: 1;
}

.c-btn--green {
  background: $green;
  min-width: rem(164);
  border: 2px solid $green;
  font-size: rem(14);
  font-family: $font-sub;
  padding: rem(8) rem(46);
}

.c-btn--green:hover {
  background: $white;
  color: $green;
  opacity: 1;
}