@use "global" as *;

.c-btn {
  display: inline-block;
  color: $white;
  font-size: rem(16);
  font-family: $font-bold;
  text-align: center;
  padding: rem(14) rem(34);
  min-width: rem(300);
  background: #ED6417;
  border-radius: rem(50);
  border: 2px solid #ED6417;
}

.c-btn:hover {
  background: $white;
  color: #ED6417;
  opacity: 1;
}