@use "global" as *;

.c-breadcrumbs__lists {
  padding: 0;
  list-style: none;
  margin: 0;
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    max-width: rem(1000);
    margin: auto;
  }
}

.c-breadcrumbs__list {
  display: inline;/*横に並ぶように*/
  list-style: none;
    }

    .c-breadcrumbs__list::after {
      content: '>';
      padding: 0 rem(8) 0 0;
      color: $black;
      font-size: rem(11);
    }

    .c-breadcrumbs__list:last-child:after {
      content: '';
    }

    .c-breadcrumbs__link {
      text-decoration: none;
      text-transform: uppercase;
      color: $black;
      font-size: rem(12);
      width: fit-content;
      line-height: calc(22 / 12);
    }

    .c-breadcrumbs__link:hover {
      @include mq(md){
        text-decoration: underline;
      }
    }