@use "global" as *;

.c-btn-arrow {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: rem(18);
  background: $white;
  color: $black;
  min-width: rem(250);
  font-size: rem(14);
  font-family: $font-bold;
  letter-spacing: .01em;
  line-height: calc(24/12);
  padding: rem(6) rem(37) rem(5) rem(19);
  transition: .3s;
  @include mq(md) {
    min-width: rem(141);
    font-size: rem(12);
  }
}

.c-btn-arrow::after {
  position: absolute;
  display: inline-block;
  content: "";
  background: url(../images/icon-arrow.svg) no-repeat center / contain;
  width: rem(16);
  height: rem(9);
  top: 50%;
  transform: translateY(-50%);
  right: rem(15);
  margin-top: rem(1);
  transition: .3s;
}

.c-btn-arrow:hover {
  @include mq(md) {
    opacity: 1;
  }
}

.c-btn-arrow:hover::after {
  @include mq(md) {
    right: rem(5);
  }
}