@use "global" as *;

.c-field-card__img {
  position: relative;
}

.c-field-card__img::before {
  content: "";
  display: block;
  padding-top: 77.7142857%;
}

.c-field-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-field-card__title {
  font-family: $font-bold;
  font-size: rem(25);
  color: $green;
  line-height: calc(68 / 34);
  border-bottom: 1px solid $green;
  @include mq(md) {
    font-size: rem(34);
  }
}

.c-field-card__text {
  margin-top: rem(9);
  font-size: rem(14);
  line-height: 1.9;
  padding-bottom: rem(15);
  @include mq(md) {
    font-size: rem(12);
  }
}

.c-field-card__box {
  background: #E5F0EF;
  padding: rem(11) rem(16);
  margin-top: auto;
}

.c-field-card__box-title {
  font-family: $font-bold;
  font-size: rem(16);
  color: $green;
  @include mq(md) {
    font-size: rem(14);
  }
}

.c-field-card__box-lists {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(7);
  column-gap: rem(16);
}

.c-field-card__box-list {
  font-family: $font-bold;
  font-size: rem(14);
  line-height: 1.4;
  padding-left: rem(5);
  @include mq(md) {
    font-size: rem(12);
  }
}

.c-field-card__box-list::before {
  position: relative;
  top: rem(-3);
  left: rem(-5);
  display: inline-block;
  width: rem(3);
  height: rem(3);
  content: "";
  border-radius: 100%;
  background: $black;
}

.c-field-card__btn {
  margin-top: rem(32);
  text-align: center;
}