@use "global" as *;

.c-section-title {
  display: inline-block;
  font-family: $font-bold;
  font-size: rem(23);
  line-height: 1.8;
  border-bottom: 2px solid $orange;
  @include mq(md) {
    font-size: rem(27);
  }
}

.c-section-title--sub {
  font-size: rem(20);
  line-height: calc(40 / 20);
}

.c-section-title--green {
  color: $green;
  border-bottom: 2px solid $green;
}

.c-section-title--mid {
  font-size: rem(20);
  line-height: 1.5;
  @include mq(md) {
    font-size: rem(24);
  }
}

.c-section-title--big {
  font-size: rem(25);
  line-height: 1.5;
  @include mq(md) {
    font-size: rem(33);
  }
}