@use "global" as *;

.p-features__contents {
  background: #f0f0f0;
  padding-top: rem(60);
  padding-bottom: rem(40);
  @include mq(md) {
    padding-top: rem(89);
    padding-bottom: rem(63);
  }
}

