@use "global" as *;

.p-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: rem(14) 0;
  background: $white;
  z-index: 10;
  transition: all .3s;
  border-bottom: 1px solid #ddd;
  @include mq(md) {
    padding: rem(15) 0 rem(18);
  }
}

.p-header__inner {
  width: 100%;
  height: inherit;
  margin: 0 auto;
  padding: 0 $padding-sp;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(md) {
    padding: 0 rem(29) 0 rem(28);
  }
}
.p-header__title{
  position: relative;
  z-index: 20;
}
.p-header__logo {
  display: inline-block;
  color: $green;
  font-size: rem(20);
  font-family: $font-bold;
  @include mq(md) {
    font-size: rem(32);
  }
}
.p-header__logo span {
  font-size: rem(14);
  font-family: $font-sub;
  margin-left: rem(10);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-header__nav{
  display: none;
  @include mq(md){
    display: block;
    height: inherit;
  }
}
.p-header__lists{
  display: flex;
  align-items: center;
  height: inherit;
}

.p-header__link{
  position: relative;
  font-size: rem(14);
  font-weight: 500;
  font-family: $font-sub;
  padding: rem(9) rem(19) rem(20);
}
.p-header__list:nth-of-type(1) .p-header__link {
  padding-left: rem(2);
}

.p-header__contact {
  display: none;
  @include mq(md) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: rem(470);
  }
}

.p-header__tel {
  font-size: rem(29);
  font-family: $font-tel;
  font-weight: 500;
  white-space: nowrap;
}

.p-header__tel a {
  display: flex;
  align-items: center;
  line-height: 1;
  letter-spacing: .05em;
}
.p-header__tel a::before {
  content: "";
  display: inline-block;
  background: url(../images/icon-tel.svg) no-repeat center / contain;
  width: rem(22);
  height: rem(22);
  margin-right: rem(5);
}

.p-header__tel span {
  display: block;
  font-size: rem(11);
  font-family: $font-sub;
  font-weight: 400;
  margin-left: rem(16);
  margin-top: rem(3);
  letter-spacing: .12em;
}

.p-header__contact-btn {
  width: 100%;
  max-width: rem(200);
  margin-left: rem(29);
}

.p-header__contact-btn a {
  padding: rem(14) rem(5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: rem(14);
  font-family: $font-sub;
  font-weight: 500;
  background: $green;
  border-radius: rem(5);
}


.p-header__contact-btn a::before {
  content: "";
  display: block;
  background: url(../images/icon-mail.svg) no-repeat center / contain;
  width: rem(21);
  height: rem(21);
  margin-right: rem(11);
}

.p-header__btn {
  position: relative;
  width: rem(26);
  height: rem(16);
  z-index: 20;
  @include mq(md){
    display: none;
  }
}
.p-header__btn span{
  display: block;
  width: 100%;
  height: rem(2);
  border-radius: rem(5);
  background-color: $black;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.p-header__btn span:nth-child(1) {
  top: 0;
}
.p-header__btn span:nth-child(2){
  top: 0;
  bottom: 0;
  margin: auto;
  }
.p-header__btn span:nth-child(3) {
  bottom: 0;
  }

//タップ後のハンバーガー
.p-header__btn.is-active {
  width: rem(23);
}
.p-header__btn.is-active span:nth-child(1) { 
  transform: translateY(rem(7)) rotate(-45deg);
  }
.p-header__btn.is-active span:nth-child(2) {
  opacity: 0;
  }
.p-header__btn.is-active span:nth-child(3) {
  transform: translateY(rem(-7)) rotate(45deg);
  }

//スライドメニュー
.p-header__spnav {
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding-bottom: rem(40);
  transform: translateX(100vw);
  transition: all .3s;
  background-color: $white;
  overflow-y: scroll;
  @include mq(md) {
    display: none;
  }
}
.p-header__splists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: rem(130);
}
.p-header__splist {
  list-style: none;
  text-align: center;
  padding-left: rem(4);
}
.p-header__splist + .p-header__splist {
  padding-top: rem(31);
}
.p-header__splink {
  font-size: rem(16);
  font-family: $font-sub;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 2px;
  color: $black;
}
//activeクラスをつけたら、スライドイン
.p-header__spnav.is-active {
  transform: translateX(0);
}
.p-header__spcontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: rem(40);
}

.p-header__contact-btn--sp {
  margin-left: 0;
  margin-top: rem(20);
}
