@use "global" as *;

.l-page-field {
  padding-top: rem(40);
  @include mq(md) {
    padding-top: rem(92);
  }
}

.l-page-field__inner {
  max-width: rem(530);
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    max-width: rem(1160);
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}