@use "global" as *;

.l-rate {
  padding-top: rem(60);
  padding-bottom: rem(60);
  @include mq(md) {
    padding-top: rem(92);
    padding-bottom: rem(160);
  }
}

.l-rate__inner {
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    max-width: rem(1050);
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}